*{
  font-family: Century Gothic;
  font-size: 100%;
}

.pumpkin{
  float: left;
  margin: 20px -25px 0px 20px ;
}

.titleHeader,.smallHeader{
  text-indent: 50px;
}

main{
  display: flex;
  flex-direction: row;
}

#topbar, #leftSidebar{
  list-style: none;
  margin: 0;
  padding: 0;
}

#topbar{
  background: black;
  height: 2.5em;
  margin-top: -20px;
}

[id=topbar] li,[id=topbar] a{
  background-color: black;
  color: white;
  display: inline-block;
  line-height: 2em;
  padding: 0 1em;
  text-decoration: none;
}

a.current{
  color:orange;
}

#leftSidebar{
  float: left;
  height: 3em;
  margin-left: -30px;
  order: 1;
  width: 29.1%;
}

[id=leftSidebar] li,[id=leftSidebar] a{
  background-color: orange;
  border: 1px solid black;
  color: black;
  display: block;
  line-height: 2em;
  text-indent: .5em;
  text-decoration: none;
}

#rightSidebar{
  background-color: #F5DEB3;
  float: right;
  height: 100%;
  order: 3;
  width: 223px;
}

figure{
  margin: 0 0;
  width: 9em;
}

[id=rightSidebar] ul{
  margin: 0px -30px;
}

[id=rightSidebar] li{
  height: 6em;
  list-style: none;
  width: 9em;
}

figcaption a{
  color: black;
  font-weight: normal;
}

#content{
  margin-top: -25px;
  padding-left: 15px;
  padding-right: 10px;
  order: 2;
}

.catDescription{
  margin-left: 10px;  
}

a{
  color: orange;
  font-weight: bold;
}

img{
  float:left;
}

#rightSidebar a:hover{
  color: green;
}

a:hover{
  color: gray;
}

body{
  background-color: white;
  border-bottom: 1px black solid;
  border-left: 2px black solid; 
  border-right: 2px black solid;
  border-top: 1px black solid;
  box-shadow: 0 15px 15px -4px black, 0 -9px 0px 0px white, 
      12px 0 15px -4px black, -12px 0 15px -4px black;
  margin: auto;
  width: 800px;
}

footer{
  background: linear-gradient(45deg, black, orange, white);
  background-color: orange;
  border-bottom: 1px black solid;
  border-top: 2px black solid;
  clear: both;
  font-size: 1em;
  text-align: center;
}

h1{
  font-size:2em;
}

h2{
  font-size: 1.8em;
}

section h2{
  margin-top: 33px;
}

h3{
  font-size: 1.5em;
  margin-bottom: -5px;
}

h6{
  margin: 5px 10px;
  margin-bottom: 5px;
}

header{
  background: linear-gradient(45deg, white, orange, black);
  background-color: orange;
  border-bottom: 2px black solid;
  border-top: 1px black solid;
}

html{
  background-image: url("../images/bats.gif");
  background-repeat: repeat;
  padding-bottom: 50px;
}

li{
  margin: 3px 0;
}



